<div *ngIf='!viewMovie' > Loading... </div>
<section *ngIf='viewMovie' class='movieDetail'   [style.backgroundImage]=" 'url(https://image.tmdb.org/t/p/w300/' + viewMovie.backdrop_path +')' " >
  <div class='movie'>
    <img class='poster' src="https://image.tmdb.org/t/p/w300/{{ viewMovie.poster_path }}" alt='' />

    <div class='data'>
      <h1>{{viewMovie.title}}</h1>
      <h1>{{viewMovie.adult ? 'rombos' : ''}}</h1>
      <div class='release'>{{viewMovie.release_date}}</div>
      <a href="{{viewMovie.homepage}}" target='_blank' rel='noopener noreferrer'>
        {{viewMovie.homepage}}
      </a>
      <p>{{viewMovie.overview}}</p>
      <div class='genres'>
            <span class='genre' *ngFor= "let genre of viewMovie.genres">
              {{genre.name}}
            </span>        
      </div>

      <div class='moreInfo'>
        <div class='vote_average'>
          Vote average: <span class='big'> {{viewMovie.vote_average}} </span>
        </div>
        <div class='vote_count'>Vote count: {{viewMovie.vote_count}}</div>
        <div class='popularity'>Popularity: {{viewMovie.popularity}}</div>
        <div class='budget'>Budget: $ {{viewMovie.budget}}</div>
        <div class='revenue'>Revenue: $ {{viewMovie.revenue}}</div>
      </div>
    </div>  
  </div>
  <div class='related'>
      <app-movie-display [films]="similarMovie"> </app-movie-display>
  </div>
</section>


